@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

header {
    margin-top: 0;
    display: flex;
    justify-content: center;
    background-color: #393f4d;
    position: fixed;
    top: 0;
    width: 100%;
    left: -15px;
    right: 0;
    padding: 1%;
    margin-bottom: 1.5%;
    overflow: hidden;
    box-shadow: 5px 3px 5px #888888;
}

#banner {
    display: contents;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px #DB593C;
    color: #db594d
}